:ruby
  maps = [
    {source_exchange: 'Paypal', destination_exchange_currency: 'Jusan', source_exchange_currency_amount: '2000', destination_exchange_currency_amount: '40_000'},
    {source_exchange: 'TBC', destination_exchange_currency: 'USDT', source_exchange_currency_amount: '2000', destination_exchange_currency_amount: '40_000'}
  ]

= maps[1]

= form_for Map.new do |f|
  = f.text_field :source_exchange
  = f.text_field :destination_exchange_currency
  = f.text_field :source_exchange_currency_amount
  = f.text_field :destination_exchange_currency_amount

%h1 Схемы
%table.table
  %thead
    %tr
      %th{scope: "col"} #
      %th{scope: "col"} source exchange
      %th{scope: "col"} destination exchange currency
      %th{scope: "col"} source_exchange currency amount
      %th{scope: "col"} destination exchange currency amount
  %tbody
    %tr
      %th{scope: "row"} 1
      %td Paypal
      %td Jusan
      %td 2000
      %td 40_000
    %tr
      %th{scope: "row"} 2
      %td Jacob
      %td Thornton
      %td @fat
      %td @mdo
    %tr
      %th{scope: "row"} 3
      %td{colspan: "2"} Larry the Bird
      %td Larry the Bird
      %td @twitter

%h2 transactions

%table.table
  %thead
    %tr
      %th{scope: "col"} #
      %th{scope: "col"} source exchange
      %th{scope: "col"} destination exchange currency
      %th{scope: "col"} source_exchange currency amount
      %th{scope: "col"} destination exchange currency amount
  %tbody
    %tr
      %th{scope: "row"} 1
      %td Paypal
      %td Jusan
      %td 2000
      %td 40_000
    %tr
      %th{scope: "row"} 2
      %td Jacob
      %td Thornton
      %td @fat
      %td @mdo
    %tr
      %th{scope: "row"} 3
      %td{colspan: "2"} Larry the Bird
      %td Larry the Bird
      %td @twitter