#notification-tray.fixed.z-50.space-y-1.top-6.right-6
.flex.h-full
  = render partial: 'shared/sidebar'
  %main.grow.px-20.pt-6.pb-32.h-full.overflow-y-auto
    %dialog.bg-white.border.border-alpha-black-25.rounded-2xl.w-min-content.shadow-xs.h-fit{class: "max-h-[648px] max-w-[580px]", "data-action" => "click->modal#clickOutside", "data-controller" => "modal", open: ""}
      .flex.flex-col
        %article.mx-auto.p-4.space-y-4.w-screen.max-w-xl
          %header.flex.justify-between
            %h2.font-medium.text-xl New map pair
            %svg.w-5.h-5.text-gray-500{"aria-hidden" => "true", "data-action" => "click->modal#close", fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24"}
              %path{d: "M18 6 6 18"}
              %path{d: "m6 6 12 12"}
          / BEGIN app/views/transactions/_form.html.erb
          = form_for @map, class: 'space-y-4', method: :post do |f|
            %section.space-y-2
              .form-field{"data-controller" => "money-field"}
                %label.form-field__label{for: "transaction_amount_money"} From
                .flex.items-center
                  = f.text_field :from_exchange_item, class: 'form-field__input', placeholder: 'Trust'
              .form-field
                %label.form-field__label{for: "transaction_date"} Where
                = f.text_field :where_exchange_item, class: 'form-field__input', placeholder: 'Trust'
            %section
              = f.submit 'Add transaction', class: 'form-field__submit'
          / END app/views/transactions/_form.html.erb